.form-select:focus{
    box-shadow: none;
}
.select#select_customer_id{
    width: 252px;
}
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
 
  /* .feedback-invalid-os_ref{
    position: absolute;
    top: 14.5%;
    left: 67.2%;
  }
  .feedback-invalid-cpnum{
    position: absolute;
    top: 23.7%;
    left: 67.2%;
  } */
.VAT_error{
    text-align: right;
    display: block;
    width: 100%;
    padding: 0px !important;
    margin: 0px 0px 10px 0px !important;
    color: #ff0000;
}
.single_error{
    position: absolute;
    padding: 0px 0px 0px 2px !important;
    font-size: 16px;
    color: #ff0000;
}
.multiple_error{
    position: relative;
    color: #ff0000;

}
/* select product css start*/
.product-select{
    margin-left: 0px;
    max-width: 850px;
}
.product-select .card {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.VAT_error{
    text-align: right;
    display: block;
    width: 100%;
    padding: 0px !important;
    margin: 0px 0px 10px 0px !important;
    color: #ff0000;
}
.single_error{
    position: absolute;
    padding: 0px 0px 0px 2px !important;
    font-size: 16px;
    color: #ff0000;
}
.multiple_error{
    position: relative;
    color: #ff0000;

}
.product-container{
    width: 100%;
    padding: 43% 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    color: #fff;
    font-size: 38px;
}
.productCategory_card{
    border: 0;
}

/* products page css */
.container.ProductsScreen {
    max-width: 100%;
    margin: 0;
    padding-right: 0;
}
.productDetailsBox .productTitle {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    padding: 0;
}
.product-col{
    margin: 0;
    padding: 0;
    width: 250px;
    background: #fff;
    border-radius: 10px;
}

.outerProductContainer{
    width: 250px;
    height: 350px;
}

.productDetailsBox {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.productDetailsBox .price-sec {
    /* padding: 0; */
    display: flex;
    align-items: center;
}
.AddtoCartBtn {
    padding: 0;
    /* text-align: right; */
}
.productData-row{
    width: 100%;
    margin: 0;
}
.AddtoCartBtn button {
    padding: 10px;
    border: 0;
    background: #7D671A;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.ProductsScreen .product_scr_row {
    column-gap: 50px;
    row-gap: 20px;
}
.imageBox {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.imageBox img{
    width: 250px;
}
.productData-row .productPrice{
    font-family: 'Gill Sans';
    color: #000;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin: 0;

}
.radio-select input{
    width: 0px;
    height: 0px;
    position: absolute;
    /* opacity: 0; */
}
.radio-select img{
    border-radius: 5px;
}
/* .radio-select [type=radio]:checked + img, .radio-select .product-select-box-form:hover img{
  outline: 4px solid #7D671A !important;
} */
.radio-select [type=radio].checked + img, .radio-select .product-select-box-form:hover img{
  outline: 4px solid #7D671A !important;
}
/* Add to cart product page css */
.Add_product_main_container{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.Add_product_row .imageBox{
    padding: 0;
}
.product-option-choice {
    padding: 0;
    /* width: 120px; */
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product-choice-row{
    column-gap: 33px;
}
.checkbox-box input{
    padding-left: 0px !important;
    padding-right: 10px;
    border: 1px solid #000000;
}
.product_size_choice {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.product_size_choice label{
    margin-top: 4px;
}
.form-check-input:focus{
    box-shadow: none;
    border: #000;
}
.form-check-input:checked[type=radio] {
    background-color: #7D671A;
    box-shadow: none;
    background-image: var(--cui-form-check-input-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27rgba%28255, 255, 255, 0.87%29%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e"));
}
.product-box {
    position: fixed;
    width: 26%;
    max-width: 26%;
}
.product_options_box {
    margin-left: auto;
    width: 57%;
    max-width: 57%;
    padding-right: 70px;
}
.product-box img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
/* add to cart page css */
.Add_product_main_container .col{
    padding: 0;
}
.product_options_box{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.product_size .product_size_choice {
    margin: 0;
    padding: 0;
}
.product_size .innerContainer {
    padding: 0;

}
.headboard-sec .innerContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.headboard-sec .headoardSize {
    border-top: 0.7px solid #828282;
    padding: 12px 0px;
}
.products-choices .tab-content {
    padding: 25px 15px;
    background: #fff;
    border: 0.8px solid #000000;
    border-radius: 0px 10px 10px 10px;
}
.checkbox-box{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.products-choices .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: #000 #000 #ffffff00;
    background: #fff;
    color: #000;
}
.product_size_choice .product_checkbox{
    width: 20px;
    height: 20px;
    margin-top: 0;
    box-shadow: none;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}
.products-choices .nav.nav-tabs{
    border-color: #000;
    border: 0;
    column-gap: 2px;
}
.form-check-label.selectoption_label {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 8px;
}
.products-choices .nav.nav-tabs .nav-item{
    z-index: 0;
}
.product_size_choice .product_checkbox:checked{
   background-color: #7D671A;
   border-color: #7D671A;
   box-shadow: none;
}
.products-choices .nav-tabs .nav-link {
    background: #000000;
    border-width: 0.8px 0.8px 0px 0.8px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
}


.product-option-choice .product-select-box-form{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    max-width: min-content;
}
.product-option-choice .product-select-box-form .select-option{
    width: 100px;
    height: 89px;
    border:0;
    margin: 0 auto !important;
    box-shadow: none;
    cursor: pointer;

}
/* .product-select-box-form .form-check-input:checked{
   outline: 3px solid #7D671A;
   box-shadow: none;
} */
.form-check {
    display: flex;
    align-items: center;
}
.add-option-selectBOx, .add-option-selectBOx:focus{
    box-shadow: none !important;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 0;
    margin-right: 3px;

}
.add-option-selectBOx:checked{
    background-color: #7D671A;
    border-color: #7D671A;
    box-shadow: none;
}
.choice_heading{
    padding: 0;    
}
.headboard-sec .innerContainer .product-choice-row{
    display: flex;
    flex-direction: column;
}

.quantity-picker {
    background: #FFFFFF !important;
    border: 1px solid #000000 !important;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px !important;
    display: inline-block !important;
    padding: 5px 0px !important;
    vertical-align: middle !important;
    text-align: center !important;
    margin-top: 30px;
}
.quantity-modifier {
    width: 4rem !important;
    font-size: 1.5rem !important;
    background: transparent !important;
    color: #000 !important;
    border: 0 solid #dbdbdb !important;
    text-align: center !important;
    font-weight: bold !important;
    cursor: pointer !important;

}
.quantity-modifier:hover {
    background: #dadada00 !important;
    color: #000 !important;
}
input.quantity-display {
    background: #E3E3E3  !important;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
    padding: 0 !important;
}
.submitBtn, .submitBtn:hover{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #7D671A;
    border-radius: 15px;
    padding: 8px 26px;
    border: 0;
}
.submitBtn:disabled{
    opacity: 0.7;
}
.addproductcontainer .form-check-input[type=radio]:after, .form-check-input[type=radio]:before{
    display: none;
}
.add-option-selectBOx.form-check-input::before, .form-check-input[type=checkbox]:checked::after{
    display: none !important;
}
.add-option-selectBOx.form-check-input[type=checkbox]:checked{
    background-color: #7D671A;
}
.addproductcontainer .selected input{
    background-color: #7D671A;
    box-shadow: none;
    background-image: var(--cui-form-check-input-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27rgba%28255, 255, 255, 0.87%29%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e"));
}




/* Media Queries */
@media only screen and (max-width: 1024px){
    .product-box{
        position: unset;
        width: 100%;
        max-width: 100%;
    }
    .product-box img{
        width: 100%;
    }
    
    .product_options_box{
        width: 100%;
        max-width: 100%;
        padding-left: 12px;
        margin-top: 30px;
        padding-right: 10px;
    }
    .product-container{
        font-size: 32px;
        padding: 40% 0;
    }
} 
@media only screen and (max-width: 767px) and (min-width: 576px){ 
    .product-container{
        width: 70%;
        padding: 30% 0;
    }
}

@media only screen and (max-width: 425px){
    select#select_customer_id{
        width: 252px;
        padding: 12px 0px 10px 30px;
        line-height: 28px;
        font-size: 22px;
    }
    .product-container{
        padding: 45% 0;
        font-size: 30px;
    }
}


/*Ashvini CSS*/
.place-order-alert{
    height: 340px !important;
}
.total-input{
    width: 20%;
    float: right;
}
.total-text{
    float: right;
}
.shipping-address-div{
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.place-order-btn-group{
    display: flex;
    justify-content: center;
}
.place-order-btn-group button{
    background: #7D671A;
    border-radius: 10px;
    color: #fff;
    border: none;
    width: 300px;
    height: 50px;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}
.total-amount-div{
    display: block;
    float: right;
}
.total-amount{
    display: flex;
}
.total-amount p{
    font-size: 18px;
}
.react-date-picker__wrapper{
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #b1b7c1;
}
.react-date-picker.place-order-tbl-data{padding: 0px !important;}
table.view-table.place-order-tbl tr{padding-bottom: 20px; height: 54px;}
table.view-table.place-order-tbl input{height: auto;}
.place-order-tbl th, .place-order-tbl td{
    border-bottom: none;
}
.place-order-tbl input{width: auto;}
tbody.order-body tr td {
    border-top: none !important;
}
.downarrow_style{
    width: 15px;
    padding: 0px;
}
.uparrow_style{
    rotate: 180deg;
}

.form-select{
    margin-right: 0px !important;
}
.arrow_button{
    background: white;
    border: none;
    padding: 0px 19px;
}
.serach_Drop_up{
    display: flex;
}
.onHover_select{
    padding: 4px 0px;
}
.submit-section .submitBtn {
    margin-right: 20px;
}