.addproduct-form{
    width: 70%;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
}
.select__indicator-separator{
    display: none;
}
.add-product label{
    font-size: 16px;
    line-height: unset;
    margin: 1rem 0 0.5rem 0;
    color: rgba(0, 0, 0, 0.5);
}
/* .add-product input, .add-product select, .add-product textarea, .add-product .basic-multi-select{
    margin-bottom: 1.7rem;
} */
.addproduct-form .form-control:disabled{
    background-color: transparent;
}
.addproduct-form .select__control, .addproduct-form .form-control, .addproduct-form .form-select {
    border: unset;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    box-shadow: none;
}
.add-product textarea{
    resize: none;
}
.status-btn .btn {
    margin-right: 15px;
}
.disabledbuttons {
    cursor: not-allowed !important;
    background: linear-gradient(180deg, #191919b5 0%, #42424ad6 100%);
  }
.view-variation {
    max-width: 300px;
    margin-bottom: 20px;
    margin-right: 15px;
    height: 36px;
    min-width: 200px;
}
.ViewVariations{
    height: 30px;
    display: grid;
    align-items: center;
    margin-right: 7px;
    color: #000000;
}
.ViewVariations:hover{
    color: #000000;
}

.manage-varition{
    display: flex;
    align-items: center;
}
.manage-varition .btn{
    /***** 24-07-2023 bug no.45 *****/
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 0px;
}
.manage-varition label {
    margin-right: 10px;
}
.manage-varition select {
    margin-bottom: 0px;
}
.product-var{
    min-width: 150px;
    height: 36px;
}
.search-input{
    min-width: 250px;
}

@media (max-width: 767px){
    .addproduct-form {
        width: 100%;
        border-radius: 15px;
        padding: 15px;
    }
    .manage-varition {
        flex-wrap: wrap;
    }
    .variation-table {
        width: 100%;
    }
}